:root{
    background-color: white;
}
h3{
    font-size: 35px;
}
#main{
    width:98%;
    display: flex;
    flex-flow: column;
    background-color: black;
    color: white;
}
#image{

    align-self: center;
    height: 450px;
   width: 90%;
}
.imagestyle{
    width: 100%;
    height: 100%;
}

li button{
    margin: 5px;
}
